#page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#page-header p {
  font-size: 20px;
}

#quiz {
  padding: 10px 0;
}

#quiz-header {
  user-select: none;
  margin-bottom: 20px;
  font-size: 30px;

  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 20px;

  display: flex;
  flex-direction: column;
}

#meaning {
  border-bottom: 2px black solid;
}

.hidden {
  color: grey;
  text-decoration-color: black;
}

#examples {
  padding: 5px 0px;
}

details {
  user-select: none;
  font-size: 25px;
  border: 2px black solid;
  padding: 5px 10px;
}

summary {
  user-select: none;
  font-size: 25px;
}

.empty {
  font-size: 25px;
}
